fieldset {
    display: inline-block;
}

.calculatorButton {
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    width: 27px;
    padding: 2px;
    padding-top: 3px;
    margin: 2px;
}

.calculatorButton:active {
    background-color: #7c7c7c;
    box-shadow: 0 1px rgb(87, 87, 87);
    transform: translateY(1px);
}

#button_equals {
    background-color: lightgreen;
}

#button_equals:active {
    background-color: green;
}

#button_clear {
    background-color: red;
}

#button_clear:active {
    background-color: maroon;
}

#setOrderOfOperations {
    text-align: center;
    margin-top: 5px;
    width: 135px;
}